/bin
/target
.metadata
lib/
lib/processing-2.1-windows64.zip
lib/processing-2.1-macosx.zip
src/main/webapp/WEB-INF/ltdatabase.conf
src/main/webapp/WEB-INF/classes/userdatabase.conf
src/main/webapp/WEB-INF/classes/ltdatabase.conf
mysql user test values.sql
src/main/java/src/ddpsc/database/tile/LTSystem.java