pg.driverClassName=org.postgresql.Driver
pg.url=jdbc:postgresql://localhost:5432
pg.username=root
pg.password=password
system.driverClassName=org.postgresql.Driver
system.url=jdbc:postgresql://localhost:5432/LTSystem
system.username=root
system.password=password
user.driverClassName=com.mysql.jdbc.Driver
user.url=jdbc:mysql://localhost:3306/PhenoFront
user.username=root
user.password=password